#jinja2: lstrip_blocks: True, trim_blocks: True
{% if traefik_enable_api %}
http:
  routers:
    api:
      rule: Host(`{{ traefik_api_host }}`)
      entryPoints:
        - {{ traefik_api_entrypoint }}
      service: api@internal
      {% if traefik_enable_api_authentication %}
      middlewares:
        - apiAuth
      {% endif %}
      {% if traefik_enable_api_tls %}
        {% if not traefik_manual_tls_management_enabled %}
      tls:
        certResolver: letsencrypt
        {% else %}
      tls: {}
        {% endif %}
      {% endif %}
  {% if traefik_enable_api_authentication %}
  middlewares:
    apiAuth:
      basicAuth:
        usersFile: '{{ traefik_api_users_file }}'
  {% endif %}
{% endif %}
